<div class="container">
    <ng-container >
        <div class="row align-items-center justify-content-center mt-4">
            <div class="col text-center">
                <div class="p-1 bg-light rounded shadow-sm">
                    <div class="input-group">
                      <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                      <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <form [formGroup]="radioGroupForm">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
                      <label ngbButtonLabel class="btn-info p-3">
                        <input ngbButton type="radio" [value]="1"> Ver por mes
                      </label>
                      <label ngbButtonLabel class="btn-info p-3">
                        <input ngbButton type="radio" [value]="2"> Ver por dia
                      </label>
                    </div>
                  </form>
            </div>
            <div class="col">
                <button class="btn btn-success btn-lg btn-block" [routerLink]="['../patients-form', 'new']"> <i class="bi bi-plus"></i> &nbsp; Nueva cita</button>
            </div>
        </div>
    </ng-container>
    
    <!-- Month -->
    <ng-container *ngIf="radioGroupForm.value['model'] === 1" #month>
        <div class="row row-cols-2 row-cols-md-4 mt-3 mt-md-5">
            <ng-container *ngFor="let month of months; let i = index">
                <div class="col">
                    <div class="card mt-2">
                        <div class="card-body p-3 text-center">
                            <p class="text-secondary">
                                {{month.name}}
                            </p>
                            <button type="button" class="btn btn-dark rounded-circle" [routerLink]="['../appointments-days', i+1]"><i class="bi bi-plus"></i></button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>      
    </ng-container>
    
    <!-- Day -->
    <ng-container *ngIf="radioGroupForm.value['model'] === 2" #day>
        <p>Aqui dia</p>
    </ng-container>

</div>


