<!-- Main-content -->
<div class="container">
    <div class="row align-items-center">
  
      <div class="col-md-6 mx-auto">
        <div class="m-5 text-center">
          <h3>Este es un texto que te ayudara a describir lo que hace este sistema y algo mas para que ingreses</h3>
          <p>Aqui un texto mas pequeño que suma un poco al tema</p>
          <br>
          <button type="button" class="btn btn-info btn-lg button-shadow" routerLink="/signup">¡Quiero probar!</button>
        </div>
      </div>
  
      <div class="col-md-6 mx-auto m-5">
        <img src="assets/images/medicine.svg" class="img-fluid" alt="medicine-svg-image">
      </div>
    </div>
  </div>