<div class="container">
    <div class="mx-3 mt-5">
      <a type="button" class="float-left text-dark" (click)="goBack()" >
        <i class="bi bi-arrow-left"></i>
      </a>
      <h3 class="text-center">Mes: {{ months[param-1] }} </h3>
  
    </div>
  
    <div class="m-3">
      <ul class="list-group mx-auto" id="historials">
        <li class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center">
            Lunes, 20 de diciembre
            <span class="badge badge-primary badge-pill">4</span>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center">
            Martes, 21 de diciembre
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center">
            Lunes, 20 de diciembre
            <span class="badge badge-primary badge-pill">4</span>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center">
            Martes, 21 de diciembre
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
      
    </div>
  
  </div>
  