<div class="modal-body">
    <button type="button" class="close ml-auto mr-3" routerLink="/"><h2>&times;</h2></button>
    <h2 class="text-center m-4">Recuperar contraseña</h2>
    <form [formGroup]="resetForm" (ngSubmit)="doSomething()">
        <div class="row m-4 justify-content-center">
            <div class="col-md-10">
                <p class="text-center">
                    <small>
                        Te enviaremos un correo con los pasos a seguir para recuperar tu contraseña.
                    </small>
                </p>
            </div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="form_emailLogin">Email</label>
                    <input id="form_emailLogin" type="email" formControlName="email" name="email" class="form-control" placeholder="miemail@correo.com" required>
                </div>
            </div>
        </div>  
        <div class="text-center m-4">
            <button type="button" class="btn btn-secondary" routerLink="/login">Cancelar</button> &nbsp;
          <button type="submit" ngbAutofocus class="btn btn-info button-shadow">Aceptar</button>
        </div>
    </form>
</div>