<div id="welcome-bg" class="text-white">
    <div class="container">
        <div class="center">
            <h1 class="text-center">¡BIENVENIDOS!</h1>
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <img src="assets/images/welcome.svg" alt="welcome-img" class="img-fluid w-65">
                </div>
                <br>
                <div class="col-12 text-center mt-4">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde suscipit, blanditiis obcaecati nihil numquam deserunt, 
                        omnis exercitationem, quos veritatis rem pariatur aperiam cum quibusdam? Quo culpa maxime eum architecto doloremque.
                    </p>
                    <br>
                    <button type="button" class="btn btn-info btn-lg" routerLink="/about-you">Empezar</button>
                </div>
            </div>
        </div>

    </div>
</div>