<!-- Goals -->
<div class="container pt-4 pb-4 text-white">
    <div class="mx-auto m-3">
      <h2 class="text-center">OBJETIVOS</h2>
    </div>
    <br>
    <!-- Goal 1-->
    <div class="row align-items-center m-4">
      <div class="col-md-6 text-justify">
        <div class="m-4">
          <h4>Caracteristica uno</h4>
          <br>
          <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quis quae fugit,
            itaque error neque animi numquam quas impedit cumque blanditiis fuga non, beatae voluptas magnam quo hic,
            inventore dolorem.
          </h6>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/images/multitasking.svg" class="img-fluid" alt="">
      </div>
    </div>
    <br>

    <!-- Goal 2-->
    <div class="row align-items-center m-4">
      <div class="order-0 order-sm-1 col-md-6 text-justify">
        <div class="m-4">
          <h4>Caracteristica dos</h4>
          <br>
          <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quis quae fugit,
            itaque error neque animi numquam quas impedit cumque blanditiis fuga non, beatae voluptas magnam quo hic,
            inventore dolorem.
          </h6>
        </div>
      </div>
      <div class="order-1 order-sm-0 col-md-6 text-center">
        <img src="assets/images/decisions.svg" class="img-fluid" alt="">
      </div>

      
    </div>
    <br>

    <!-- Goal 3-->
    <div class="row align-items-center m-4">
      <div class="col-md-6 text-justify">
        <div class="m-4">
          <h4>Caracteristica tres</h4>
          <br>
          <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quis quae fugit,
            itaque error neque animi numquam quas impedit cumque blanditiis fuga non, beatae voluptas magnam quo hic,
            inventore dolorem.
          </h6>
  
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/images/add-notes.svg" class="img-fluid" alt="">
      </div>
    </div>
  
  </div>